<div class="container page-container my-3">
  <header class="mb-4 pb-4">
    <section class="d-flex align-items-center mb-3">
      <h3>Projects</h3>

      <button class="btn btn-primary ms-auto">
        New project
      </button>
    </section>

    <section>
      <input
        type="search"
        name="search"
        id="search"
        placeholder="Search projects"
        class="form-control form-control-lg"/>
    </section>
  </header>

  <main class="my-3">
    <section class="project mb-5" *ngFor="let project of projects">
      <h4>{{project.name}}</h4>

      <app-task *ngFor="let task of project.tasks"
                [task]="task"
                [treePath]="[project.id]"
                [selectedTreePath]="selectedTreePath"
                [onNodeSelect]="selectTaskTreeNode"
                [onDeleteNode]="deleteTaskNode"
      ></app-task>
    </section>
  </main>
</div>
